.shop-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* #####     #####
resposive design
#####     ##### */

@media (min-width: 1px) {
  .shop-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .products-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 640px) {
  .shop-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .products-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .shop-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .shop-container {
    grid-template-columns: 4fr 1fr;
  }
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .shop-container {
    grid-template-columns: 4fr 1fr;
  }
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
