.cart {
  padding: 15px;
  border-radius: 15px;
  position: sticky;
  top: 0;
  right: 0;
  height: 500px;
  background-color: lightgray;
  position: relative;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-product img {
  border-radius: 50%;
}

.cart-product-button {
  border: none;
  background-color: lightgray;
  cursor: pointer;
  transition: 1s;
  padding: 10px;
  border-radius: 50%;
}

.cart-product-button:hover {
  background-color: gray;
}

.btn {
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
  border-radius: 10px;
  background-color: lightgray;
  margin: 10px 0;
  cursor: pointer;
}

.selected-button {
  border: 1px solid blue;
  color: blue;
}

.reset-button {
  border: 1px solid red;
  color: red;
}

.error-message {
  color: red;
  position: absolute;
  bottom: 0;
}

/* #####     #####
resposive design
#####     ##### */

@media (min-width: 1px) {
  .btn {
    padding: 12px 9px;
    font-size: 11px;
  }
}

@media (min-width: 640px) {
  .btn {
    padding: 12px 9px;
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 12px 9px;
  }
}

@media (min-width: 1024px) {
  .btn {
    padding: 12px 9px;
  }
}
